:root {
  --blanco: #fff;
  --naranja: #df6839;
  --cafe: #823707;
  --celeste: #00b8fe;
  --negro: #000000;
  --verede: #105414;
  --turquesa: #00f6ff;
  --rojo: #ff0f0f;
  --gris: #7a7672;
  --amarillo: #EBBF63;
  --texto: 'Poppins';

}

html {
  box-sizing: border-box;
  /*1rem = 16px*/
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*globales*/

.contenedor{
  max-width: 125rem;
  margin: 0 auto;
  width: 95%;
  
}

h1, h2,h3, p, a,span,button {
  font-family: var(--texto);
}
img {
  max-width: 100%;
}

.btn {
  text-decoration: none;
  color: var(--blanco);
  font-size: 2rem;
  text-transform: capitalize;
  padding: 1rem 3rem;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

@media(min-width:768px) {
  .btn {
      font-size: 2.2rem;
  }
}


/*encabezsado*/

.menu{
  height: 130px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: var(--cafe);
  align-items: center;
}
.k3{
  margin-left: 15px;
  color: #fff;
  font-size: 50px;
}
.logo{
  height: 80% ;
  width: auto;
}
.logo img{
  height: 100%  ;
  width: auto;
}
.login{
  width: 70px;
  background-color: transparent;
  height: 50px;
  color: #fff;
  text-align: center;
  padding: 4px;
  margin-right: 10px;
}
.persona{
  font-size: 40px;
}
.navegacion a{
  color: var(--blanco);
  text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    padding-left: 4rem;
    transition: color .3s ease-in-out;
    text-align: center;
}
.navegacion a:nth-child(even):hover {
  color: var(--rojo);
}

.navegacion a:nth-child(odd):hover {
  color: var(--rojo);
}




/*limite*/


/*CARRUSEL*/

.content{
	width: 100%;
	height: 700px;
	float: left;
	margin-bottom: 5px;
	overflow: hidden;
}
#boximg{
	width: 100%;
	height: 600px;
	position: relative;
	float: left;
}
#tit{
	text-align: center;
	color:rgb(136, 26, 26);
    
}
#imgcab{
	width: 100%;
	height: 100%;
	float: left;
	margin:0;
	object-fit: cover;
}


/*limite*/
.tituloEX{
  font-size: 75px;
  color:var(--cafe);
  padding-bottom: -80px;
  padding-top: -80px;
  overflow: hidden;
  padding-left: 60px;
}

.combos{
  width: 100vw;
  max-width: 1300px;
  padding: 20px;
  position: relative;
}
.cartas {
  display: grid;
  grid-auto-flow:column;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-x:auto ;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}
.cartas .dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.dragging .itemgroup{
  cursor: grab;
  user-select: none;
}

@media screen and( max-width:900px){
  .combos .cartas{
    grid-template-columns: repeat(2, 1fr);
}
}
@media screen and( max-width:600px){
  .combos .cartas{
    grid-auto-columns: 100%;
  }
}
.cartas::-webkit-scrollbar{
  display: none;
}
.combos span{
  width: 50px;
  height: 50px;
  background-color: #b1b1b1;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transform: translateY(250%);
  font-size: 3rem;
  box-shadow: 0 3px 6px;
}
.flecha1{
  left: 22px;
}
.flecha2{
  right: 22px;
}
.itemgroup {
  scroll-snap-align:start ;
  padding: 0;
  border-radius: 35px;
  width: 350px;
  height: 250px;
  color: var(--cafe);
  display: flex;
  background-color: #c2c2c2;
  box-shadow: 3px 4px 10px 2px #00000071;
  cursor: pointer;
}
.cajatext{
  width: 50%;
  
  padding: 10px;
}
.cajatext h3{
font-size: 25px;
text-align: center;
margin: 0px;
}
.Comboimg{
    width: 50%;
    height: 100%;
    border-radius: 35px;
    object-fit: cover;
    background-position: center;
}

.text2{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: var(--rojo);
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
}
.menu-text{
    font-size: 15px;
}
.menu-text li{
  list-style: none;
  
}

.content-aleatorio{
  width: 100vw;
  padding: 20px;
  background-color: #ff0f0f;
  margin-top: 20px;
}
.content-aleatorio h2{
  text-align: center;
  font-size: 55px;
  color: #fff;
  margin: 0;
}
.content-aleatorio h3{
  text-align: center;
  font-size: 25px;
  color: var(--amarillo);
  font-weight: 500;
  
}
.box-button{
  text-align: center;
}
.btn  {
  display:inline-block ;
  padding: 14px 20px 14px 20px;
  background-color: transparent;
  border: 2px solid #7c3001;
  border-radius: 50px;
  margin: auto;
  margin-bottom: 60px;
  
}
.btn:hover{
  background-color: #EBBF63;
}
.imagenes{
  min-height: 300px;
  width: 80%;
  display: flex;
  margin-top: 20px;
  margin: auto;

}
.imagenes img{
  width: 200px;
  height: 220px;
  object-fit: cover;
  margin: 0 10px 0 0;
  border-radius: 15px;
}





/*FOOTER*/

.banner__footer{
  background-image: url(https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg);
  width: 100%;
  height: 350px;
  background-size: cover  ;
  background-position: center;
  box-sizing: border-box;
  position: relative;
}
.banner__content{
  background-color: #00000071;
  width: 100%;
  height: 100%;
  
}
.banner__content p{
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding-top: 300px;
  margin-top: 0;
}
.banner__footer img{
  position: absolute;
  width: 50px;
  top: 50px;
}
.img_fb{
  left: 600px;
}
.img_ig{
  left: 750px;
}
.img_wsp{
  left: 900px;
}
.banner__info{
  display: flex;
  position: absolute;
  left: 220px;
  top: 140px;
  color: #fff;
}
.info{
  font-size: 15px;
  margin: 0 20px;
  text-align: center;
}
